.main-header_search{
    position: absolute;
    top: 25%;
    left: 33%;
    transform: translate(-50%, -50%);
    text-align: left;
    margin-left: 50px;
    margin-top: 70px;
  }
  
  .brand_name{
    width: 109px;
    height: 36px;
    border: solid 2px grey;
    border-radius: 12px;
    font-size: 18px;
    background-color: rgba(0,0,0,0);
  }
  
  .multipurpose{
    width: 180px;
    height: 36px;
    border: solid 2px grey;
    border-radius: 12px;
    font-size: 18px;
    background-color: rgba(0,0,0,0);
  }
  
  p{
    font-size: 22px;
  }
  
  a{
    font-size: 18px;
  }
  
  
  .brand_name + .brand_name {
    margin-left: 40px;
    }
  
    .multipurpose + .multipurpose {
      margin-left: 40px;
    }
  
   .contents{
    width: 400px;
    height: 36px;
    margin-left: 250px;
   }
  
  
   .but{
    width: 220px;
    height: 40px;
    border: solid 2px grey;
    border-radius: 12px;
    font-size: 20px;
    background-color: rgba(0,0,0,0);
    display : block;
    margin : 0 auto;
    text-decoration-line: none;
    color: black;
   }
  
  